.project-img {
    height: 100px;
    width: 100%;
}

.project-accomplishment {
    padding: 4px 2px 4px 0px !important;
}

.project-accomplishment .anticon-fire {
    vertical-align: text-bottom;
    padding-right: 5px;
}

.project-accomplishment-list {
    text-align: justify;
}
