@import "~antd/dist/antd.css";

body {
    font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica,
        Arial, sans-serif;
    line-height: 1.7;
}

.header-container {
    background-color: #eee;
    padding: 1% 0.5% 1% 0.5%;
}

.profile-img {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5%;
}

.about-section {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 2px;
    padding-left: 2px;
}

.summary-section {
    padding-left: 30px;
}

.media-btns-section {
    margin-top: 15px;
    margin-bottom: 25px;
}

.linkedin-btn {
    font-size: xx-large;
    color: #2867b2 !important;
}

.github-btn {
    font-size: xx-large;
    color: #082c58 !important;
}

.logo-btn {
    font-size: large;
    margin-right: 7px;
}

.view-container {
    margin-top: 7%;
    margin-bottom: 7%;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-name {
    margin-left: 20px;
    color: #15748a;
    font-weight: bold;
    font-size: medium;
    animation: fadeIn ease 3s;
    display: inline-block;
}

@keyframes fadeIn {
    0% {
        width: 0px;
        opacity: 0;
    }
    20% {
        width: fit-content;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mobile-block {
    display: block;
}
