.work-position {
    font-weight: bold;
}

.work-company {
    font-weight: bold;
}

.work-location {
    margin-left: 10px;
    color: slategrey;
}

.links-list-item {
    padding: 0px;
}

.links-list-item-title {
    font-size: smaller;
    color: #06436f !important;
}

.links-list-item .ant-list-item-meta-title {
    line-height: normal;
}

.link-card .ant-card-body {
    padding: 6px 6px 6px 10px;
}

.work-dates {
    color: slategrey;
    margin-left: 10px;
}

.work-responsibility {
    padding: 4px 2px 4px 0px !important;
}

.link-card .ant-card-head-title {
    padding: 5px 0px 5px 0px;
    font-size: 13px;
    text-align: center;
}

.link-card .ant-card-head {
    min-height: fit-content;
}

.work-loc-icon .anticon-environment {
    vertical-align: text-bottom;
    padding-right: 1px;
}

.work-responsibility-icon .anticon-fire {
    vertical-align: text-bottom;
    padding-right: 5px;
}

.work-responsibility-list {
    text-align: justify;
}

.link-card .anticon-link {
    margin-right: 4px;
}
